.s1 {
    background-image: url("../img/drew-coffman-1872.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center ;
    width: 100%;
    height: 100vh;
    z-index: 99;
 
}

.content {
    margin-top: 150px;
    text-align: center;  
   
}
.btn-box {
    text-align: center;  
    margin-top: 20px;
}


.btn-primary {
    background-color: #503414;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
  
    margin: 10px;
     display: inline-block;
   
}
.btn-outline {
    background-color:transparent;
    border: 2px solid #c47f30;
    color: #ffffff;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
   
    margin: 10px;
    display: inline-block;
    
}
.squre {
     width: 100px;
    height: 100px;
    background-color: black;

   /* position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);*/
     margin-left: auto;   
    margin-right: 0px;  
    margin-top: 50px;   
  }
.card {
    margin-left: auto;   
    margin-right: auto;  
    margin-top: 50px;
}
.text-box {
   align-items: center;
   height: 340px;
   display: flex;
   justify-content: center;
   text-align: center;  
    margin-top: 30px;
   color: white;
    display: inline-block;
}
.i1 {
    height: 60px;
    margin-right: 90px;
    align-items: s;
  
    
}
.navbar {
    background-color: rgba(255, 255, 255, 0.4) !important;
      
}


